.slides

  slides-select-control(view="$ctrl.view")

  .slides-admin(ng-if="$ctrl.user.role=='admin'")
    slides-action-control

  md-grid-list(
    md-cols='{{$ctrl.cols.sm}}'
    md-cols-sm='{{$ctrl.cols.sm}}'
    md-cols-md='{{$ctrl.cols.md}}'
    md-cols-lg='{{$ctrl.cols.lg}}'
    md-cols-gt-lg='{{$ctrl.cols.gt}}'
    md-row-height='1:1', md-gutter="5px"
    md-on-layout="$ctrl.broadcastService.send('slides.layout')"
  )
    md-grid-tile(
      ng-repeat="(n, image) in $ctrl.view.images"
      md-colspan='{{$ctrl.aspect(image,0)}}'
      md-rowspan='{{$ctrl.aspect(image,1)}}'
      ng-init='ratio= $ctrl.ratio(image)'
      ng-class='{vertical: (ratio > 1), horizontal: (ratio<1), square: (ratio ==1), selected: image.selected, deleting: image.delete}'
      ng-attr-id="{{image._id}}"
    )
      div.img-container
        a(ng-href='{{$ctrl.getLink(image._id)}}' )
          img.img-responsive(ng-src='{{image.derivative[$ctrl.derivative].uri}}')
      div.edit-actions(ng-if="$ctrl.user.role=='admin'")
        md-button.select-slide(ng-click="$ctrl.broadcastService.send('slide.select',image)")
          md-icon.material-icons done
        md-button.edit-slide(ng-click="$ctrl.broadcastService.send('slide.edit',image)")
          md-icon.material-icons edit
        md-button.delete-slide(ng-click="$ctrl.broadcastService.send('slide.remove',image)")
          md-icon.material-icons delete
