.slide-wrapper
  slide-action(slide="$ctrl.slide")
  video(
    ng-if="$ctrl.type=='video'"
    class='{{$ctrl.layclss}}'
    controls
    preload="auto"
  )
    source(
      ng-src="{{$ctrl.src}}"
      type="video/mp4"
    )
  img(
    ng-if="$ctrl.type=='image'"
    ng-src='{{$ctrl.src}}'
    class='{{$ctrl.layclss}}'
    title='{{$ctrl.label}}'
  )
  .loading-spinner

slide-info(slide="$ctrl.slide" ng-if="$ctrl.slideshow.user.role=='admin'")

menu-actions(menuname="menuSlideAction")
