.action-container

  md-chips(
    ng-model="ctrl.selectedTags"
    md-transform-chip="ctrl.prepareTag($chip)"
    md-autocomplete-snap
  )

    md-autocomplete(
      md-selected-item="ctrl.selectedItem"
      md-search-text="ctrl.searchText"
      md-items="item in ctrl.findTags(ctrl.searchText)"
      md-item-text="item.text"
      md-min-length="1"
      md-autofocus="true"
      placeholder="Search or Add Tags"
    )
      md-item-template
        span(md-highlight-text="ctrl.searchText") {{item.text}} ({{item._images.length}})

    md-chip-template
      strong {{$chip.text}}
      span &nbsp;&#40;{{$chip._images.length}}&#41;&nbsp;

  md-button.md-raised.md-primary(ng-click="ctrl.add()") Add Tags to Selected Images
  md-button.md-raised(ng-click="ctrl.clearSelectedTags()") Clear Searched Tags

  md-chips.tagsInView(
    ng-model="ctrl.tagsInView"
    md-transform-chip="ctrl.prepareTag($chip)"
    md-removeable="true"
    md-on-remove="ctrl.remove($chip)"
  )
    md-chip-template
      span
        strong {{$chip.text}}
        em &nbsp; ({{$chip._images.length}})

  md-button.md-raised(ng-click="ctrl.$mdDialog.hide()") Close
  md-button.md-raised(ng-click="ctrl.selectService.none(); ctrl.$mdDialog.hide()") Close &amp; Deselect
