.slideshow(
  class="close-slide"
  ui-view
  ng-swipe-left="$ctrl.showChange('slideright')"
  ng-swipe-right="$ctrl.showChange('slideleft')"
  ng-swipe-up="$ctrl.showChange('slideup')"
  ng-swipe-down="$ctrl.showChange('slidedown')"
)
